In [3]:
import turicreate

titanic_data = turicreate.SFrame('https://web.stanford.edu/class/archive/cs/cs109/cs109.1166/stuff/titanic.csv')

Downloading https://web.stanford.edu/class/archive/cs/cs109/cs109.1166/stuff/titanic.csv to /var/folders/xp/d09s48k55h5f9zp_2bxl6lnh0000gn/T/turicreate-luis/50763/21b7d7f3-e02b-46a8-9ad8-038f793af6ec.csv

Finished parsing file https://web.stanford.edu/class/archive/cs/cs109/cs109.1166/stuff/titanic.csv

Parsing completed. Parsed 100 lines in 0.031771 secs.

------------------------------------------------------
Inferred types from first 100 line(s) of file as
column_type_hints=[int,int,str,str,float,int,int,float]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------

Finished parsing file https://web.stanford.edu/class/archive/cs/cs109/cs109.1166/stuff/titanic.csv

Parsing completed. Parsed 887 lines in 0.006457 secs.

Columns:
	Survived	int
	Pclass	int
	Name	str
	Sex	str
	Age	float
	Siblings/Spouses Aboard	int
	Parents/Children Aboard	int
	Fare	float

Rows: 887

Data:
+----------+--------+-------------------------------+--------+------+-------------------------+
| Survived | Pclass |              Name             |  Sex   | Age  | Siblings/Spouses Aboard |
+----------+--------+-------------------------------+--------+------+-------------------------+
|    0     |   3    |     Mr. Owen Harris Braund    |  male  | 22.0 |            1            |
|    1     |   1    | Mrs. John Bradley (Florenc... | female | 38.0 |            1            |
|    1     |   3    |     Miss. Laina Heikkinen     | female | 26.0 |            0            |
|    1     |   1    | Mrs. Jacques Heath (Lily M... | female | 35.0 |            1            |
|    0     |   3    |    Mr. William Henry Allen    |  male  | 35.0 |            0            |
|    0     |   3    |        Mr. James Moran        |  male  | 27.0 |            0            |
|    0     |   1    |     Mr. Timothy J McCarthy    |  male  | 54.0 |            0            |
|    0     |   3    | Master. Gosta Leonard Palsson |  male  | 2.0  |            3            |
|    1     |   3    | Mrs. Oscar W (Elisabeth Vi... | female | 27.0 |            0            |
|    1     |   2    | Mrs. Nicholas (Adele Achem... | female | 14.0 |            1            |
+----------+--------+-------------------------------+--------+------+-------------------------+
+-------------------------+---------+
| Parents/Children Aboard |   Fare  |
+-------------------------+---------+
|            0            |   7.25  |
|            0            | 71.2833 |
|            0            |  7.925  |
|            0            |   53.1  |
|            0            |   8.05  |
|            0            |  8.4583 |
|            0            | 51.8625 |
|            1            |  21.075 |
|            2            | 11.1333 |
|            0            | 30.0708 |
+-------------------------+---------+
[887 rows x 8 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [5]:
titanic_data.column_names()

['Survived',
 'Pclass',
 'Name',
 'Sex',
 'Age',
 'Siblings/Spouses Aboard',
 'Parents/Children Aboard',
 'Fare']

In [9]:
features = ['Pclass', 'Sex', 'Age', 'Siblings/Spouses Aboard', 'Parents/Children Aboard', 'Fare']

In [10]:
titanic_decision_tree_model = turicreate.decision_tree_classifier.create(titanic_data, features=features, target='Survived')

PROGRESS: Creating a validation set from 5 percent of training data. This may take a while.
          You can set ``validation_set=None`` to disable validation tracking.

Decision tree classifier:

--------------------------------------------------------

Number of examples          : 842

Number of classes           : 2

Number of feature columns   : 6

Number of unpacked features : 6

+-----------+--------------+-------------------+---------------------+-------------------+---------------------+

| Iteration | Elapsed Time | Training Accuracy | Validation Accuracy | Training Log Loss | Validation Log Loss |

+-----------+--------------+-------------------+---------------------+-------------------+---------------------+

| 1         | 0.014619     | 0.876485          | 0.822222            | 0.378776          | 0.419970            |

+-----------+--------------+-------------------+---------------------+-------------------+---------------------+

In [12]:
titanic_decision_tree_model.evaluate(titanic_data)['accuracy']

0.8737316798196166

In [15]:
titanic_decision_tree_model.predict(titanic_data[0:10])

dtype: int
Rows: 10
[0, 1, 0, 1, 0, 0, 0, 0, 1, 1]

In [16]:
titanic_data['Survived'][:10]

dtype: int
Rows: 10
[0, 1, 1, 1, 0, 0, 0, 0, 1, 1]

In [26]:
titanic_decision_tree_model

Class                          : DecisionTreeClassifier

Schema
------
Number of examples             : 842
Number of feature columns      : 6
Number of unpacked features    : 6
Number of classes              : 2

Settings
--------
Number of trees                : 1
Max tree depth                 : 6
Training time (sec)            : 0.0154
Training accuracy              : 0.8765
Validation accuracy            : 0.8222
Training log_loss              : 0.3788
Validation log_loss            : 0.42
Training auc                   : 0.8878
Validation auc                 : 0.9415

In [27]:
import networkx as nx
import matplotlib.pyplot as plt
from turicreate import SGraph, Vertex, Edge

# construct an SGraph (skip this if you already have one)
sg = SGraph()
sg = sg.add_vertices([Vertex(i) for i in range(10)])
sg = sg.add_edges([Edge(i, i+1) for i in range(9)])

# convert to NetworkX graph
g = nx.Graph()
g.add_nodes_from(sg.vertices['__id'])
g.add_edges_from(sg.edges.apply(lambda row: [v for (k,v) in row.items()]))

# Draw it and show on screen
nx.draw(g)
plt.show()